<div class="grid-container">
  <div class="item1">
    <img src="/assets/japan business.jpg">
  </div>
  <div class="item2">
    <h1>A Japanese learning app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
      officiis culpa consequatur nesciunt repellendus quaerat possimus,
      itaque molestiae sunt et. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Dolore consectetur iste, hic sapiente accusamus
      blanditiis harum voluptas error fuga minima? Download Hiragana Master for free.</p>
      <div class="buttons">

  </div>
</div>
