* {
  font-family: 'Raleway', sans-serif;
}.container-fluid {
  background: #7044ff;
  height: 36vh;
}
.container{
  border-bottom: solid #29aac0;
  height: 13rem;
}
h1{
  padding-top: 4rem;
  text-align: center;
  text-transform: uppercase;
}
.buttons{
  display: flex;
  justify-content: center;
}

h6 {
  margin-top: 5rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #29aac0;
}
@media (max-width: 420px){
  .container-fluid {
    height: 50vh;
    display: grid;
    grid-template-columns:1fr;
  }

  img {
    height: 60%;
    width: 40%;
  }
  h1 {
    font-size: 1.5rem
  }
  h6 {
    padding-top: 5%;
  }
}
