* {
  font-family: 'Raleway', sans-serif;
}
mat-toolbar {
  background: #7044ff;
}
nav .navbar-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 8vh;
 position: relative;
 padding-top: 2%;
  background:#7044ff;
}
#dropdown {
  background: #29aac0;
  z-index: 2;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #29aac0
}
@media (max-width:420px){
  #container {
    padding-top: 4%;
  }
}
