<div class="container-fluid">
  <div class="overlay">
    <div class="container">
      <h1 >Join the Japanese language learning community</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur est
         doloremque architecto. Consequuntur inventore voluptates, blanditiis ab
         debitis eveniet, ad a earum porro soluta delectus at molestias quisquam
         corporis nesciunt maxime. Ipsa sunt iste odit in fugit obcaecati
         architecto error. Tempore architecto iusto pariatur quos eum. Quo
         porro atque dolorum?
      </p>
    </div>
  </div>
</div>
